<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/alamantus/lighter@1.2.0/dist/lighter.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/alamantus/lighter@1.2.0/dist/fuel.css" />
<link rel="stylesheet" href="styles.css">