<nav class="m0 ph2 pv1" style="height:10vh;">
  <ul class="row">
    <li class="8 col">
      <a href="/" class="large bold">Warn Page</a>
    </li>
    <li class="2 col">
      <a href="/new">New Warning</a>
    </li>
    <li class="2 col">
      <a href="/about">About</a>
    </li>
  </ul>
</nav>