<!DOCTYPE html>
<html>
<head>
  <title>About Warn Page</title>
  <meta name="description" content="The content warning site">
  {{ head.html }}
</head>
<body>
  {{ nav.html }}
  <section class="c">
    <h1>About</h1>

    <h2>What is Warn Page?</h2>
    <p>
      Warn Page is a simple but effective way to responsibly share links about or containing potentially sensitive subjects.
      All you need to do is select up to 3 content warnings, paste the link to the website, and get your Warn Page link for that
      site. Instead of displaying a preview of the content, Warn Page will display a "Warning" image, allowing you to explain
      what&rsquo;s on the other side of the wall and letting people choose whether or not they want to look at the content.
    </p>
    <p>
      When someone uses the Warn Page link, they will be greeted with a full red screen with a warning about what kinds of
      sensitive materials may be on the page and be given the opportunity to go back if they do not want to view the content or
      press onward to the site.
    </p>
    
    <h2>Why Warn Page?</h2>
    <p>
      There&rsquo;s a lot of stuff on the internet. Most of it is good, excellent stuff, but sometimes, it can get pretty unsavory.
      Warn Page allows you to share potentially negative or harmful content while giving those who may be more sensitive to that
      kind of material a chance to opt out of seeing it.
    </p>
    <p>
      The inspiration for this site comes from an article that went around in January 2017 about a brutally murdered dog. Dog
      rescues and many other sources shared this article, which featured and previewed the grisly images. While it is important
      to know about this kind of thing, I can&rsquo;t imagine anyone who would actually want to see the images that were posted.
    </p>
    <p>
      Warn Page is here to provide a better experience on social media and for clicking regular links in general by letting your
      followers not have their day ruined by unexpected horrific content.
    </p>
  </section>
  <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0"></script>
  <script src="main.js" async defer></script>
</body>
</html>