<!DOCTYPE html>
<html>
<head>
  <title>Warn Page</title>
  <meta name="description" content="The content warning site">
  {{ head.html }}
</head>
<body>
  {{ nav.html }}
  <header>
  <section class="tc bg-primary m0" style="height:90vh;">
    <article class="vc c c-white">
      <h1 class="mega mb0">Content Warnings Made Simple</h1>
      <p class="large mb2">
        Ethically share potentially sensitive content by letting whoever clicks the link make an informed decision.
      </p>
      <a href="/new" class="btn bg-accent c-white pill ph4">Get Started</a>
    </article>
  </section>
  <section class="c">
    <p>
      Warn Page lets you put up a warning wall between whoever clicks your link and whatever&rsquo;s at
      the end of it with a warning about sensitive content. 
    </p>
  </section>
</body>
</html>