<!DOCTYPE html>
<html>
<head>
  <title>Warn Page</title>
  <meta name="description" content="The content warning site">
  {{ head.html }}
</head>
<body>
  {{ nav.html }}
  <section class="c">
    <form method="post">
    </form>
  </section>
  <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0"></script>
  <script src="main.js" async defer></script>
</body>
</html>